build/
build-*/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing/
cmake_install.cmake
compile_commands.json
Makefile

*.o
*.obj
*.a
*.so
*.so.*
*.dll
*.dylib
*.exe
__pycache__/
*.pyc
